body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.9;
} 

.title {
  text-align: center;
}
header > img {
  width: 100vw;
  height: 50vh;
}
.head-line {
  font-size: 26px;
  margin-top: -200px;
  color: rgb(255, 255, 255);
  padding: 20px 30px;
}
.head-line-p {
  font-size: 17px;
  color: rgb(255, 255, 255);
  padding: 20px 25px;
  margin-bottom: 30px;
  padding: 0 30px;
}
.btn {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid white;
  background-color: rgb(50, 56, 56);
  width: 10vw;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(100, 224, 224);
  color: rgb(2, 2, 2);
  transition: background-color 0.5s;
}
.top-text {
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.heading {
  color: black;
  font-size: 25px;
  padding: 25px 0;
  margin-top: 25px;
}

.top-left {
  padding: 0 20px;
  display: inline-block;
  margin: 0 25px 15px 0;
  text-align: justify;
}

.center-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(45, 45, 46);
}

.center-block-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  margin: 25px 0 10px 25px;
  background-color: #fff;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 30px;
}
section > img {
  width: 100%;
}
section > span {
  padding: 10px;
}
.sub-title {
  text-align: center;
  margin: 20px 0;
  font-size: 15px;
  font-weight: bold;
}
.center-block-bottom {
  background-color: white;
  padding: 25px;
  font-size: 15px;
}
.center-block-bottom {
  text-align: center;
}
.about-us {
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  font-size: 0;
  display: flex;
}
.about-left {
  width: 50vw;
  background-color: blue;
  min-height: 210px;
  padding: 10px;
  font-size: initial;
}
.about-right {
  width: 50vw;
  background-color: rgb(54, 53, 54);
  min-height: 210px;
  padding: 10px;
  font-size: initial;
}
.mail {
  color: white;
  font-size: 10px;
}
.contact {
  font-size: 20px;
  padding-top: 30px;
  margin-bottom: 20px;
}
.footer-bottom {
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fb {
  text-align: center;
  padding: 15px 100px;
  color: rgb(255, 247, 247);
}
